<button class="p-2 bg-stone-600 border border-stone-200 rounded-lg hover:bg-stone-500 grid grid-cols-1 content-center">
    <div class="text-center">
        <div>@PrimaryDisplay</div>
        @if (SecondaryDisplay != null)
        {
            <div class="text-xs">@SecondaryDisplay</div>
        }
    </div>
</button>

@code {
    [Parameter] public required string PrimaryDisplay { get; set; }

    [Parameter] public string? SecondaryDisplay { get; set; }
}